services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    image: crpi-pnda4wyku982ifaa.ap-southeast-5.personal.cr.aliyuncs.com/shirloin/stockhub-backend
    container_name: stockhub-backend
    ports:
      - "7788:7788"
      - "50051:50051"
    env_file:
      - .env
    restart: always
